<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>HAWK_EX Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4/dist/full.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-base-200 min-h-screen">
    {@inner_content}
  </body>
</html>
